* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin: 2em 2em;
    word-wrap: break-word
}

body ,
footer {
    background: radial-gradient(rgb(50, 188, 243),purple, blue)
}

h1 {
    font-family: 'Rubik Glitch', system-ui;
    font-weight: normal;
    word-wrap: break-word;
}

#about h1 {
    text-align: center;
    font-weight: normal;
    font-size: 75px;
}

h2 {
    font-family: 'Kalnia', serif;
    color: rgb(251, 249, 249);
}
section h3,
form button {
    font-family: 'Tektur', sans-serif;
    font-weight: normal;
}

body, input, textarea {
    font-family: 'Tektur', sans-serif;
}

header {
    padding: 16px 0;
    background-color: rgba(150, 10, 160, 0.373);  
    color: #ffffff;
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 18px;
    word-wrap: break-word;
}

header nav li a {
    color: #f4eff5;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    word-wrap: break-word;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about img {
    width: 35em;
    height: 25em;
    object-fit: cover;
    image-rendering:inherit;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section {
    color: #ffffff;
}

section p {
    margin-bottom: 8px;
}

#contact .social-links img {
    height: 45px;
    mix-blend-mode: multiply;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: flex;
    flex-direction: column;

}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form  input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 25px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: rgba(150, 10, 160, 0.373);;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #8843d7;
}

button:focus, textarea:focus {
    outline-color: #182c61;
}

footer {
    color: #ecf0f1;
    padding: 16px 0;
}

.container .image img {
    align-items: center;
    display: flex;
    width: 35em;
    height: 25em;
    object-fit: cover;
    image-rendering: auto;
}

img {
    margin-bottom: 8px;
    padding: 8px;
}

@media screen and (max-width: 700px) {
section,
.container, 
#contact .container form,
#contact .container .contact-methods,
#contact .container .social-links,
h1{
    display: flex;
    flex-direction: column; 
    font-size: 14px; 
    word-wrap: break-word;
    align-items: center;
    }  
}

@media screen and (max-width: 400px) {
section,
.container, 
#contact .container form,
#contact .container .contact-methods,
#contact .container .social-links,
h1{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    width: auto;
    word-wrap: break-word;
    align-items: center;    
    }
}
