/* Define estilos padrão para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define estilos para todas as seções */
section {
    word-wrap: break-word;
}

/* Define estilos para o corpo e rodapé */
body,
footer {
    background: radial-gradient(rgb(50, 188, 243), purple, blue);
    color: #ecf0f1;
    font-family: 'Tektur', sans-serif;
}

/* Cabeçalho (Header) */
h1 {
    font-family: 'Rubik Glitch', system-ui;
    font-weight: normal;
    word-wrap: break-word;
}

.logo {
    border-radius: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 75px;
    height: 75px;
    text-align: left;
}

/* Estilos específicos para a seção "Sobre" */
#about h1 {
    text-align: center;
    font-weight: normal;
    font-size: 75px;
    margin-bottom: 20px;
}

#about .image1 {
    margin-top: 20px;
}

h2 {
    font-family: 'Kalnia', serif;
    color: rgb(251, 249, 249);
}

/* Define estilos para títulos e botões em formulários */
section h3,
form button {
    font-family: 'Tektur', sans-serif;
    font-weight: normal;
}

#quem h2 {
    text-align: center;
    margin-top: 20px; /* Ajuste conforme necessário para centralizar verticalmente */
    margin-bottom: 20px; /* Adicione uma margem inferior para espaçamento */
}

/* Define estilos para fontes em todo o corpo e formulários */
body,
input,
textarea {
    font-family: 'Tektur', sans-serif;
}

/* Cabeçalho (Header) */
header {
    padding: 16px 0;
    background-color: rgba(150, 10, 160, 0.373);
    color: #ffffff;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
    word-wrap: break-word;
}

header nav li a {
    color: #f4eff5;
    text-decoration: none;
}

/* Define estilos para os contêineres */
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    word-wrap: break-word;
}

/* Define estilos para contêineres dentro do cabeçalho e seções */
header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Titulo do Slider --> feedback */
#feedback {
    flex-direction: column;
    margin-top: 0; /* Adicione uma margem na parte superior da seção "Feedback" */
    margin-bottom: 0; /* Adicione uma margem na parte inferior da seção "Feedback" */
    display: flex;
    justify-content: center; /* Centraliza a seção horizontalmente */
    align-items: center; /* Centraliza a seção verticalmente */
}

/* Slider */
.slider {
    align-items: center;
    width: 350px;
    height: 500px;
    overflow: hidden;
    position: absolute;
    margin-top: 50px;
    left: 50%; /* Move o slider para a metade da largura da tela */
    transform: translateX(-50%); /* Centraliza o slider horizontalmente */
}

/* Define estilos para a barra de navegação do slider */
.navigation-bar {
    position: absolute;
    bottom: 20px;
    display: flex;
    left: 50%;
    transform: translate(-50%);
}

/* Esconde os botões de rádio */
input {
    display: none;
}

/* Define estilos para botões manuais do slider */
.manual-btn {
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #fff;
    transition: 0.4s;
}

/* Define estilos para slides no slider */
.slides {
    display: flex;
    width: 400%;
    height: 100%;
}

.slide {
    width: 25%;
    transition: 0.5s;
}

.slide img {
    width: 100%;
    height: 100%;
}

/* Define estilos para o checkbox do slider e os slides correspondentes */
#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

/* Define estilos para seções */
section .container {
    align-items: flex-start;
}

/* Seção "Contato" */
#contact h2  {
    text-align: center;
}

/* Define estilos para links de redes sociais na seção "Contato" */
#contact .social-links img {
    height: 40px;
    mix-blend-mode: multiply;
}

.social-links li {
    display: inline;
    margin-right: 8px;
    margin: 0;
}

.social-links li a {
    text-decoration: none;
}

/* Define estilos para contêineres na seção "Contato" */
/* Ajuste as margens conforme necessário para obter um espaçamento uniforme */
#about .container {
    margin-bottom: 20px; /* Adicione uma margem na parte inferior da seção "Sobre" */
}

#forecast .container {
    display: flex;
    flex-direction: column;
    margin-top: 20px; /* Adicione uma margem na parte superior da seção "Previsão" */
    margin-bottom: 20px; /* Adicione uma margem na parte inferior da seção "Previsão" */
}

#quem .container {
    margin-top: 600px; /* Adicione uma margem na parte superior da seção "Quem sou eu?" */
    margin-bottom: 20px; /* Adicione uma margem na parte inferior da seção "Quem sou eu?" */
}

#contact .container {
    margin-top: 20px; /* Adicione uma margem na parte superior da seção "Contato" */
}

/* Adicione uma margem no rodapé para separar do conteúdo anterior */
footer {
    margin-top: 20px;
}


#contact .container {
    display: flex;
    flex-direction: column;
}

/* Define estilos para os métodos de contato na seção "Contato" */
.contact-methods {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.contact-methods > div {
    flex: 1;
    padding: 20px;
    margin: 0 10px;
}

/* Define estilos para formulários na seção "Contato" */
form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 25px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: rgba(150, 10, 160, 0.373);
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #8843d7;
}

button:focus, textarea:focus {
    outline-color: #182c61;
}

/* Define estilos para títulos na seção "Contato" */
#contact .container h2,
#contact .container h3 {
    align-items: center;
} 

.titulo_contact article h2 {
    text-align: center;
    justify-content: center;
}

/* Rodapé */
footer {
    color: #ecf0f1;
    padding: 16px 0;
}

/* Define estilos para imagens nas seções "Sobre" e "Quem Sou Eu?" */
.image,
.image1,
.image2 {
    align-items: center;
    display: flex;
    width: 35em;
    height: 25em;
    object-fit: cover;
    image-rendering: auto;
    margin:20px 0;
    border-radius: 2%;
}

.image3 {
    width: 35em;
    height: 25em;
    border-radius: 10%;
}

/* Media Query para telas médias */
@media screen and (max-width: 1024px) {
    header nav li {
        font-size: 14px;
        margin-left: 10px;
    }

    header {
        padding: 12px 0;
    }

    #about h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    #about .image1 {
        margin-top: 10px;
    }
}

/* Media Query para telas pequenas */
@media screen and (max-width: 768px) {
    header .container,
    section .container {
        flex-direction: column;
    }

    header nav li {
        font-size: 12px;
        margin-left: 5px;
    }

    header {
        padding: 10px 0;
    }

    #about h1 {
        font-size: 30px;
        margin-bottom: 5px;
    }

    #about .image1 {
        margin-top: 5px;
    }

    section h1,
    section h2,
    section h3 {
        text-align: center;
    }

    /* Adiciona margens e justificação aos elementos <p> */
    p {
        margin: 10px 8px;
        text-align:justify;
    }

    section #about .container,
    #contact .container form,
    #contact .container .contact-methods,
    #contact .container .social-links {
        display: flex;
        flex-direction: column; 
        font-size: 14px; 
        align-items: center;
    } 
}

/* Media Query para telas muito pequenas (por exemplo, smartphones em modo retrato) */
@media screen and (max-width: 480px) {
    header nav li {
        font-size: 10px;
        margin-left: 3px;
    }

    header {
        padding: 8px 0;
    }

    #about h1 {
        font-size: 20px;
        margin-bottom: 3px;
    }

    #about .image1 {
        margin-top: 3px;
    }

    #forecast .container {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #quem .container {
        margin-top: 200px;
        margin-bottom: 5px;
        flex-direction: column;
    }

    section h1,
    section h2,
    section h3 {
        text-align: center;
    }

    /* Adiciona margens e justificação aos elementos <p> */
    p {
        margin: 10px 8px;
        text-align: justify;
    }
    #contact .container h2.titulo_contact{
        text-align: center;
        justify-content: center;
        margin: 0;
        display: flex;
    }

    #contact .container {text-align: center;
        justify-content: center;
        margin: auto;
        display: flex;}

    section #about .container, 
    #contact .container form,
    #contact .container .contact-methods,
    #contact .container .social-links {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        align-items: center;    
    }

    img .image3 {
        text-align: center;
        justify-content: center;
    }
}

/* Media Query para dispositivos com tela de 6.8 polegadas */
/*@media screen and (max-width: 414px) {
    body {
        font-size: 14px; 
    }
    
}*/

@media (min-width: 320px) and (max-width: 480px) {


    section h2,
    section h3 {
        text-align: center;
    }

    .image,
    .image1,
    .image2 {
        text-align: center;
        width: 100%;
    }

    /* Adiciona margens e justificação aos elementos <p> */
    body {
        width: 100%;
        flex-direction: column;
    }
    
    p {
        margin: 10px 8px;
        text-align: justify;
    }
    #contact .container .contact-methods h3 {
        font-size: 18px;
    }
    .slider {
    position: none;

}

    #quem .container{
        margin-top: 200px;
    }
}